<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="Utilities.ExtentReportManager" />
	</listeners>

	<groups>
		<run>
			<include name="regression" /> -->
		
		</run>
	</groups>

	<test thread-count="5" name="Test">
		<parameter name="os" value="windows" />
		<parameter name="browser" value="chrome" />
    <classes>
     <class name="TestCases.TC_002_Product_mac_search"/>
      <class name="TestCases.TC_001_Product_via_filerapply"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
